.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: rgb(6, 117, 142) 0px 2px 5px -1px, rgb(3, 150, 195) 0px 1px 3px -1px;
  background-image: linear-gradient(to bottom left, rgb(5, 83, 125) , 15px, transparent);
}

.back {
  text-decoration: none;
  color: inherit;
}

.back:hover {
  text-decoration: none;
}

.head-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  gap: 2%;

  padding: 1% 5%;

  font-size: 20px;

  border: 1px solid #ffffff;
  border-radius: 25px;
}

.profile-img {
  height: 100%;
}

.socials-area {
  flex-grow: 1;
  position: relative;

  padding: 10% 10%;
  width: 550px;

}

.circle-space {
  height: 100%;
  width: 100%;

  position: relative;
}

.circle-space img {
  width: 100px;
  height:100px;

  position:absolute;
  
  transition: 500ms;
}

.circle-space img:hover {
  transform: translate(-25%, -25%);
  height: 170px;
  width: 170px;
  padding: 45px;

  z-index: 1;
}

img.a {
  top: 18%;
  left: 92%;

  border-radius: 100%;

  background-image: linear-gradient(to bottom left, #a72700, #9d1247, #03698e, #1a967a);

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

img.b {
  top: 62%;
  left: 32%;

  border-radius: 15%;

  background-image: linear-gradient(to bottom left, rgb(0, 110, 71), rgb(0, 40, 110), rgb(0, 108, 110));

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}
img.c {
  top: 20%;
  left: 3%;

  border-radius: 20%;

  background-image: linear-gradient(to bottom right, rgb(63, 0, 63), rgb(55, 114, 89), rgb(30, 86, 116));

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}
img.d {  
  top: 78%;
  left: 90%;

  border-radius: 25%;
  padding: 1%;

  background-image: linear-gradient(to bottom right, rgb(0, 0, 165) , rgb(126, 30, 46), rgb(83, 21, 121));

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

img.e {  
  top: 12%;
  left: 56%;

  border-radius: 50%;

  background-image: linear-gradient(to bottom right, #ffa9e6 , #b75097, #6c9de3);

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

img.f {  
  top: 58%;
  left: 62%;

  border-radius: 25%;

  background-image: linear-gradient(to bottom right, #3263e8 , #963ee2, #999999);

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

img.g {  
  top: 80%;
  left: 0%;

  border-radius: 25%;
  padding: 1%;

  background-image: linear-gradient(to bottom right, #1e3984 , #561093, #545353);

  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}