.content-container {
  box-shadow: rgb(0, 0, 94) 0px 2px 5px -1px, rgb(0, 0, 82) 0px 1px 3px -1px;

  background-image: linear-gradient(to bottom left, rgb(0, 0, 94) , 15px, transparent);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.centre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.web-url-container {
  display: flex;

  height: 39px;

  overflow: hidden;
}

.website-url {
  font-size: 2rem;
}

.hover-move-up{
  transition:0.2s;
}

.inner h3 {
  /*position: relative;*/
  /* transform: translateY(0px); */
  transition: transform .1s ease-in-out;
}

.web-url-container:hover .inner h3  {
  transform: translateY(-38px);
}

.website-url-styled {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  -webkit-background-clip: text; 
}

.hover-move-up:hover {
  position: absolute;
  top: -35px;
}

.profile-img {
  height: 120px;

}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav > a {
  padding: 1.5%;

  border: 1px solid #0070f3;

  border-radius: 10px;
}

nav > a:hover{
  background-color: #18181e;
}