* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(51, 70, 109);
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(51, 70, 109);
}

body {
  background-color: white;
  color: white;

  margin: 5% 26% 0;

  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(33, 0%, 7%, 1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(47, 0%, 10%, 1)'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(4, 0%, 10%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-8,-7)' fill='url(%23a)'/></svg>");
}

.content-container {
  backdrop-filter: blur(4px);

  padding: 2% 3.5%;

  border: 0.1px solid #333333;
  border-radius: 10px;

  box-shadow: #242424 0px 2px 5px -1px, #242424 0px 1px 3px -1px;

  background-image: linear-gradient(to bottom left, rgb(0, 0, 94) , 1px, transparent);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.centre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.website-url {
  font-family: 'Belanosima', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.profile-img {
  height: 120px;
  border-radius: 100%;

  border: 1px solid white;

}

.profile-name {
  font-family: 'Dancing Script', cursive;

}

a {
  text-decoration: none;
  color: #0070f3;
}

a:hover {
  text-decoration: underline;
}

.showcase {
  margin: 2% 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav > a {
  padding: 1.5%;

  border: 1px solid #0070f3;

  border-radius: 10px;
}

nav > a:hover{
  background-color: #18181e;

}